.BestPlayerTrainingCard {
    /* flex: 1 24%;
    min-width: 250px;  */
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-inline: 5px;
    background-color: var(--body-bgColor);
    border: 1px solid var(--body-bgColor);
    transition: var(--main-transition);
}.BestPlayerTrainingCard:hover{ border-color: var(--color-primary); }

.BestPlayerTrainingCard .playerImg img{
    width: 100%;
    height: 100%;
}
.BestPlayerTrainingCard .playerName{
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--Section-bgColor);
}
.BestPlayerTrainingCard .playerParagraph{
    transition: var(--main-transition);
}
.BestPlayerTrainingCard:hover .playerParagraph{
    color: var(--color-primary);
}