.profile .profileImg img{
    border: 1px solid var(--nav-fontColor);
    border-radius: 50%;
    transition: var(--main-transition);
}
.profile .profileImg img:hover{
    border-color: var(--color-primary);
    
}
.profile .active .profileImg img{
    border-color: var(--color-primary);

}


@media screen and (max-width:567px) {
    .pImage{
        width: 30px;
    }
}