
.LoginForm{
    height: 430px;
}









/*check*/
.registerLink {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.registerLink ,
.checkInfo {
    font-size: 13px;
    font-weight: 400;
}
.registerLink div,
.checkInfo div{
    color: #ffffffbb;
    cursor: pointer;
    transition: var(--main-transition);
}
.registerLink div:hover,
.checkInfo div:hover{
    color: var(--color-primary);
}

.checkInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.theCheck{
    display: flex;
    align-items: center;
}
.theCheck .saveCheck{
    position: relative;
    top: -1px;
}
/*check*/


